## In-app user journey vizualization using Sankey diagrams

In [4]:
import seaborn as sns
import pandas as pd
import plotly.graph_objects as go
import chart_studio.plotly as py
import plotly

# Path to the raw data: https://gist.github.com/nicolasesnis/eb3b35545e97926ab53e0617c5e4b639

In [5]:
raw_data = "https://gist.githubusercontent.com/nicolasesnis/eb3b35545e97926ab53e0617c5e4b639/raw/824eddae70819003214b5d35a83d8cb885852666/raw.csv"

In [8]:
df = pd.read_csv(raw_data)
df.head(3)

,user_id,time_install,event_name,time_event
0,4c6065c9466bc68e324e316edfb0227ff7cccc6c,43892.978137,purchase,43892.983808
1,f3049eac4788ffd4482390f8333d7e1adbf4c5a1,43896.220370,signup,43896.220799
2,f3049eac4788ffd4482390f8333d7e1adbf4c5a1,43896.220370,purchase,43896.221887